// CLASS DEFAULTS ----------------------------------------------------------------------------------

@use "./variables"as v;

.container {
  width: 90%;
  height: auto;
  margin: 0 auto;
  max-width: v.$width-container;
}

section {
  padding: v.$section-padding 0;
}

.pr-05 {
  padding-right: 0.5rem;
}

.pr-2 {
  padding-right: 2rem;
}

.pl-05 {
  padding-left: 0.5rem;
}

.pl-2 {
  padding-left: 2rem;
}

.w-100 {
  max-width: 100%;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
}